header
{
    background-image: linear-gradient(to bottom right, rbg(27,36,55), rbg(66,78,107));
}

h1 
{
font-size: 48px;
color:rgb(193, 175, 84, 1);
font-weight: bold;
-webkit-text-stroke: 3px rgba(157, 103, 19, 1);
}